<ul class="smm-alerts">
  <li>
   <a  class="class-29"href="{{path("fos_user_security_logout")}}" title=""><i class="zmdi zmdi-power" style="margin-top: 11px;"></i></a>
  </li>
  <li>
    <a  class="class-29"href="{{path("app_home_index")}}" title=""><i class="zmdi zmdi-home"  style="margin-top: 11px;"></i></a>
  </li>
</ul>
<ul class="main-menu">    
  <li><a href="{{path("app_home_index")}}"  ><i class="zmdi zmdi-home"></i>Home</a></li>
  <li class="sub-menu">
    <a href="#"  data-ma-action="submenu-toggle"><i class="zmdi zmdi-format-list-bulleted"></i>Categories</a>
    <ul>
      <li><a href="{{path("app_categories_index")}}">Categories List</a></li>
      <li><a href="{{path("app_categories_add")}}">New Category</a></li>
    </ul>
  </li>
  <li class="sub-menu">
    <a href="#"  data-ma-action="submenu-toggle"><i class="zmdi zmdi-collection-text"></i>Guides</a>
    <ul>
      <li><a href="{{path("app_guides_index")}}">Guides List</a></li>
      <li><a href="{{path("app_guides_add")}}">New Guide</a></li>
    </ul>
  </li>
  <li><a href="{{path("app_comments_index")}}"  ><i class="zmdi zmdi-comments"></i>Comments</a></li>
    <li><a href="{{path("user_user_index")}}"  ><i class="zmdi zmdi-account"></i>Users</a></li>
    <li><a href="{{path("app_support_index")}}"  ><i class="zmdi zmdi-help"></i>Support messages</a></li>
  </ul>